@import 'themes/2077.css';

/* --------------------------------------------
 * Base style
 * -------------------------------------------*/

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "DepartureMono Nerd Font";
  font-size: 20px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

/* --------------------------------------------
 * Workspaces
 * -------------------------------------------*/

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 3px;
  border: 2px solid @red;
  border-radius: 4px;
  background-color: @red;
  color: @background;
  text-shadow: 0 0 2px @background;
}

#workspaces button.empty {
	color: @red;
	background-color: @background;
	text-shadow: 0 0 2px @red;
}

#workspaces button.active {
  color: @blue;
  border: 2px solid @blue;
  text-shadow: 0 0 2px @blue;
  background-color: @background;
}

#workspaces button.active:hover {
	color: @background;
	text-shadow: 0 0 2px @background;
	background-color: @blue;
}

#workspaces button:hover {
  text-shadow: 0 0 2px @background;
  color: @background;
  background-color: @red;
}

#workspaces button.urgent {
	color: @background;
	text-shadow: 0 0 2px @background;
	border: 2px solid @yellow;
	background-color: @yellow;
}

/* --------------------------------------------
 * Power
 * -------------------------------------------*/

#custom-power {
	background-color: @background;
	color: @blue;
	border-style: solid;
	border-width: 2px 2px 2px 0px;
	border-color: @red;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 6px 12px;
	margin-top: 6px;
	margin-right: 3px;
	margin-bottom: 6px;
	min-width: 50px;
	text-shadow: 0 0 2px @blue;
}

/* --------------------------------------------
 * Network
 * -------------------------------------------*/

#network {
	background-color: @background;
	color: @blue;
	border-style: solid;
	border-width: 2px 0px 2px 0px;
	border-color: @red;
	padding: 6px 12px;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	min-width: 50px;
	text-shadow: 0 0 2px @blue;
}

/* --------------------------------------------
 * Wireplumber
 * -------------------------------------------*/

#wireplumber {
	background-color: @background;
	color: @blue;
	border-style: solid;
	border-width: 2px 0px 2px 0px;
	border-color: @red;
	padding: 6px 12px;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	min-width: 50px;
	text-shadow: 0 0 2px @blue;
}

/* --------------------------------------------
 * CPU
 * -------------------------------------------*/

#cpu {
	background-color: @background;
	color: @blue;
	border-style: solid;
	border-width: 2px 0px 2px 0px;
	border-color: @red;
	padding: 6px 12px;
	margin-top: 6px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 6px;
	min-width: 70px;
	text-shadow: 0 0 2px @blue;
}

/* --------------------------------------------
 * Media Player
 * -------------------------------------------*/

#custom-mediaplayer {
	background-color: @background;
	color: @blue;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: @red;
	border-radius: 4px;
	padding: 6px 12px;
	margin-top: 6px;
	margin-right: 4px;
	margin-left: 4px;
	margin-bottom: 6px;
	min-width: 70px;
	text-shadow: 0 0 2px @blue;
}

#cpu.critical {
	color: @yellow;
}

/* --------------------------------------------
 * Temperature
 * -------------------------------------------*/

#temperature {
	background-color: @background;
	color: @blue;
	border-style: solid;
	border-width: 2px 0px 2px 2px;
	border-color: @red;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 6px 12px;
	margin-top: 6px;
	margin-right: 0px;
	margin-left: 4px;
	margin-bottom: 6px;
	min-width: 70px;
	text-shadow: 0 0 2px @blue;
}

#temperature.critical {
	color: @yellow;
}

/* --------------------------------------------
 * Clock
 * -------------------------------------------*/

#clock {
	border-radius: 4px;
	margin: 6px 3px;
	padding: 6px 12px;
	color: @blue;
	border: 2px solid @red;
	text-shadow: 0 0 2px @red;
	min-width: 50px;
	color: @blue;
	border: 2px solid @red;
	text-shadow: 0 0 2px @blue;
	background-color: @background;
}

/* --------------------------------------------
 * Memory Bar
 * -------------------------------------------*/

#custom-memory-percent{
	color: @red;
	text-shadow: 0 0 2px @red;
}

#custom-memory-bar{
	font-family: "ram";
	font-size: 50px;
	color: @red;
	text-shadow: 0 0 2px @red;
	padding-top: 5px;
	padding-left: 20px;
}

#custom-memory-bar2{
	font-family: "ram";
	font-size: 50px;
	color: @blue;
	text-shadow: 0 0 2px @blue;
	padding-top: 5px;
	padding-right: 10px;
}


/* --------------------------------------------
 * Memory Bar
 * -------------------------------------------*/

tooltip {
	border: 2px solid @red;
  border-radius: 8px;
  padding: 15px;
  text-shadow: 0 0 2px @blue;
  color: @blue;
  background-color: @background;
}

tooltip label {
  padding: 5px;
  color: @blue;
  background-color: @background;
}
